// Home

@include mobile {
.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 27vw;



  .perdidas_encontradas {
    .div_perdidas_encontradas {
      .h2_perdidas_encontradas {
        display: flex;
        width: 90vw;
        height: 5vw;
        justify-content: left;
        align-items: center;
        padding: 0 1rem;
        font-size: 0.9em;
        color: white;
        background-color: $color-dos;
        align-items: center;
        font-weight: bold;

      }
    }
  }
}

.perdidas_encontradas ul {
  display: flex;
  flex-direction: column;
  padding: 0px 25px;
  align-items: center;
}

.perdidas_encontradas img {
  width: 90vw;
}

.perdidas_encontradas ul {
  display: flex;
  flex-direction: column;
  padding: 0px 25px;
  align-items: center;
}

.perdidas_encontradas img {
  width: 90vw;
}
}

// Home

@include tablet {
  .contenedor {

    display: flex;
    flex-direction: column;
    padding: 3vw 0px;
    padding-top: 155px;

    .perdidas_encontradas {
      .div_perdidas_encontradas {
        .h2_perdidas_encontradas {
          display: flex;
          height: 3vw;
          width: 95%;
          align-items: center;
          background-color: $color-dos;
          justify-content: start;
          font-weight: bold;
          font-size: 1rem;
          padding: 0px 5vw;
        }
      }
    }
  }

  .perdidas_encontradas ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .perdidas_encontradas img {
    width: 30vw;
  }

  .perdidas_encontradas ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .perdidas_encontradas img {
    width: 30vw;
  }
}

@include computer {
  .contenedor {
    display: flex;
    flex-direction: column;
    padding-top: 160px;
    font-size: 1rem;


    .perdidas_encontradas {
      .div_perdidas_encontradas {
        .h2_perdidas_encontradas {
          display: flex;
          height: 3vw;
          width: 95%;
          background-color: $color-dos;
          justify-content: start;
          font-weight: bold;
          padding: 0px 5vw;
        }
      }
    }
  }

  .perdidas_encontradas ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .perdidas_encontradas img {
    width: 30vw;
  }

  .perdidas_encontradas ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .perdidas_encontradas img {
    width: 30vw;
  }

}