.contenedor {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    justify-content: center;
  
  }
  
  .contenedor section div h2 {
    display: flex;
    width: 90vw;
    height: 7vw;
    justify-content: center;
    background-color: $color-dos;
    align-items: center;
    font-weight: bold;
    font-size: 4vw;
  
  }
  
  .perdidas ul {
    display: flex;
    flex-direction: column;
    padding: 0px 25px;
    align-items: center;
  }
  
  .perdidas img {
    width: 90vw;
  }
  
  .encontradas ul {
    display: flex;
    flex-direction: column;
    padding: 0px 25px;
    align-items: center;
  }
  
  .encontradas img {
    width: 90vw;
  }

  // Home

@include tablet {
  .contenedor {

    display: flex;
    flex-direction: column;
    padding: 3vw 0px;

    section div h2 {
      display: flex;
      height: 5vw;
      width: 95%;
      align-items: center;
      background-color: $color-dos;
      justify-content: start;
      font-weight: bold;
      font-size: 2.2vw;
      padding: 0px 5vw;
    }

  }

  .perdidas ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .perdidas img {
    width: 30vw;
  }

  .encontradas ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .encontradas img {
    width: 30vw;
  }
}

@include computer {
  .contenedor {
    display: flex;
    flex-direction: column;
    padding: 3vw 0px;

    section div h2 {
      display: flex;
      height: 3vw;
      width: 95%;
      justify-content: center;
      background-color: $color-dos;
      justify-content: start;
      font-weight: bold;
      font-size: 1.6vw;
      padding: 0px 5vw;
    }
  }

  .perdidas ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .perdidas img {
    width: 30vw;
  }

  .encontradas ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
  }

  .encontradas img {
    width: 30vw;
  }

}
  