.main {
  display: flex;
  flex-direction: column;
  padding-top: 190px;
  font-size: 1rem;

  .socialpet {

    .titulo {
      display: flex;
      justify-items: center;
      width: 100%;

      .h2_social {
        display: flex;
        background-color: $color-dos;
        height: 60px;
        align-items: center;
        justify-content: left;
        color: white;
        font-size: 1rem;
        padding: 0px 5vw;
        width: 95%;

      }
    }
  }

  .contenedor_social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 35px;
    font-size: 1rem;
    color: white;
    gap: 50px;
    padding-bottom: 50px;
    

    .art {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      background-color: $color-cinco;
      z-index: 1;
      width: 80%;

      img {
        width: 80;
        border-radius: 55px;
        padding: 3vw;
      }

      h3 {
        margin-bottom: 5px;
      }

      p {
        margin-bottom: 30px;
      }
    }
  }
}




// SocialPet

@include tablet {
  .main {
    display: flex;
    flex-direction: column;
    padding-top: 155px;
    font-size: 1rem;

    .socialpet {

      .titulo {
        display: flex;
        justify-items: center;
        width: 100%;

        .h2_social {
          display: flex;
          background-color: $color-dos;
          height: 3vw;
          align-items: center;
          justify-content: left;
          color: white;
          font-size: 1rem;
          padding: 0px 5vw;
          width: 95%;

        }
      }
    }

    .contenedor_social {
      display: grid;
      grid-template-columns: 50% 50%;
      justify-items: center;
      align-items: center;
      width: 100%;
      margin-top: 50px;
      font-size: 1rem;
      color: white;

      .art {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        border-radius: 10px;
        background-color: $color-cinco;
        z-index: 1;

        img {
          width: 40vw;
          border-radius: 55px;
          padding: 3vw;
        }

        h3 {
          margin-bottom: 15px;
        }

        p {
          margin-bottom: 15px;
        }
      }
    }
  }
}




@include computer {
  .main {
    display: flex;
    flex-direction: column;
    padding-top: 160px;
    font-size: 1rem;

    .socialpet {

      .titulo {
        display: flex;
        justify-items: center;
        width: 100%;

        .h2_social {
          display: flex;
          background-color: $color-dos;
          height: 3vw;
          align-items: center;
          justify-content: left;
          color: white;
          font-size: 1rem;
          padding: 0px 5vw;
          width: 95%;

        }
      }
    }

    .contenedor_social {
      display: grid;
      grid-template-columns: 50% 50%;
      justify-items: center;
      align-items: center;
      width: 100%;
      margin-top: 50px;
      font-size: 1rem;
      color: white;

      .art {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        border-radius: 10px;
        background-color: $color-cinco;
        z-index: 1;

        img {
          width: 40vw;
          border-radius: 55px;
          padding: 3vw;
        }

        h3 {
          margin-bottom: 15px;
        }

        p {
          margin-bottom: 15px;
        }
      }
    }
  }
}