.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  background-color: $color-seis;
  color: rgb(5, 50, 25);;
  font-size: 1.2rem;


  .data {
    display: grid;
    justify-items: left;
    align-items: center;
    color: rgb(20 , 50, 50);
    font-size: 0.8rem;

    h6 {
      font-size: 0.5rem;
      margin: 10px 0;
      color: rgb(5, 50, 25);
    }
  }

  .socialnet {

    a {
      display: inline;
      padding: 0 0.5rem;
      color: rgb(20 , 50, 50);
    }
  }

}

// Footer

@include tablet {
  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
    background-color: $color-seis;
    color: rgb(5, 50, 25);;
    font-size: 1.6rem;


    .data {
      display: grid;
      justify-items: left;
      align-items: center;
      color: rgb(20 , 50, 50);
      font-size: 1rem;

      h6 {
        font-size: 0.7rem;
        margin: 10px 0;
        color: rgb(5, 50, 25);
      }
    }

    .socialnet {

      a {
        display: inline;
        padding: 0 1rem;
        color: rgb(20 , 50, 50);
      }
    }

  }
}

@include computer {
  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
    background-color: $color-seis;
    color: rgb(5, 50, 25);;
    font-size: 1.8rem;


    .data {
      display: grid;
      justify-items: left;
      align-items: center;
      color: rgb(20 , 50, 50);
      font-size: 1rem;

      h6 {
        font-size: 0.7rem;
        margin: 10px 0;
        color: rgb(5, 50, 25);
      }
    }

    .socialnet {

      a {
        display: inline;
        padding: 0 1.5rem;
        color: rgb(20 , 50, 50);
      }
    }

  }
}